// Primary palette
$md-ref-palette-primary-0:   #000000;
$md-ref-palette-primary-10:  #21005d;
$md-ref-palette-primary-20:  #381e72;
$md-ref-palette-primary-30:  #4f378b;
$md-ref-palette-primary-40:  #6750a4;
$md-ref-palette-primary-50:  #7f67be;
$md-ref-palette-primary-80:  #d0bcff;
$md-ref-palette-primary-90:  #eaddff;
$md-ref-palette-primary-100: #ffffff;

// Secondary palette
$md-ref-palette-secondary-10: #1d192b;
$md-ref-palette-secondary-20: #332d41;
$md-ref-palette-secondary-30: #4a4458;
$md-ref-palette-secondary-40: #625b71;
$md-ref-palette-secondary-50: #7a7289;
$md-ref-palette-secondary-80: #ccc2dc;
$md-ref-palette-secondary-90: #e8def8;
$md-ref-palette-secondary-100: #ffffff;

// Neutral palette
$md-ref-palette-neutral-10:  #1d1b20;
$md-ref-palette-neutral-20:  #322f35;
$md-ref-palette-neutral-30:  #49454f;
$md-ref-palette-neutral-40:  #605d66;
$md-ref-palette-neutral-50:  #79747e;
$md-ref-palette-neutral-80:  #cac4d0;
$md-ref-palette-neutral-90:  #e6e1e5;
$md-ref-palette-neutral-95:  #f4eff4;
$md-ref-palette-neutral-99:  #fffbfe;
$md-ref-palette-neutral-100: #ffffff;

// Error palette
$md-ref-palette-error-40: #b3261e;
$md-ref-palette-error-80: #f2b8b5;
$md-ref-palette-error-90: #f9dedc;
$md-ref-palette-error-100: #ffffff;
